In [4]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns 

df = pd.read_csv("data.csv")
pd.set_option("display.max_columns",None)

In [5]:
df.head(7)

,Income,Age,Dependents,Occupation,City_Tier,Rent,Loan_Repayment,Insurance,Groceries,Transport,Eating_Out,Entertainment,Utilities,Healthcare,Education,Miscellaneous,Desired_Savings_Percentage,Desired_Savings,Disposable_Income,Potential_Savings_Groceries,Potential_Savings_Transport,Potential_Savings_Eating_Out,Potential_Savings_Entertainment,Potential_Savings_Utilities,Potential_Savings_Healthcare,Potential_Savings_Education,Potential_Savings_Miscellaneous
0,44637.249636,49,0,Self_Employed,Tier_1,13391.174891,0.000000,2206.490129,6658.768341,2636.970696,1651.801726,1536.184255,2911.792231,1546.914539,0.000000,831.525120,13.890948,6200.537192,11265.627707,1685.696222,328.895281,465.769172,195.151320,678.292859,67.682471,0.000000,85.735517
1,26858.596592,34,2,Retired,Tier_2,5371.719318,0.000000,869.522617,2818.444460,1543.018778,649.378103,1050.241738,1626.143346,1137.351325,1551.723167,564.235007,7.160376,1923.176434,9676.818733,540.306561,119.347139,141.866089,234.131168,286.668408,6.603212,56.306874,97.388606
2,50367.605084,35,1,Student,Tier_3,7555.140763,4612.103386,2201.800050,6313.222081,3221.396403,1513.814376,1723.306926,3368.457108,2178.515847,3160.026299,628.371220,13.997808,7050.360422,13891.450624,1466.073984,473.549752,410.857129,459.965256,488.383423,7.290892,106.653597,138.542422
3,101455.600247,21,0,Self_Employed,Tier_3,15218.340037,6809.441427,4889.418087,14690.149363,7106.130005,5040.249158,2858.194240,6128.550387,4571.118217,0.000000,2526.055712,16.455440,16694.965136,31617.953615,1875.932770,762.020789,1241.017448,320.190594,1389.815033,193.502754,0.000000,296.041183
4,24875.283548,52,4,Professional,Tier_2,4975.056710,3112.609398,635.907170,3034.329665,1276.155163,692.827225,660.186852,1092.689024,1169.095816,1445.215694,515.510300,7.533982,1874.099434,6265.700532,788.953124,68.160766,61.712505,187.173750,194.117130,47.294591,67.388120,96.557076
5,24875.610267,57,4,Self_Employed,Tier_2,4975.122053,0.000000,1038.230996,3250.067756,1760.164812,1049.067453,751.016815,1024.309765,1022.295439,2003.852035,402.217843,5.944242,1478.666359,7599.265300,957.619116,521.683848,135.925865,148.952326,86.567256,13.143683,33.961843,96.675925
6,106119.692762,53,0,Self_Employed,Tier_2,21223.938552,0.000000,4360.202710,12790.390693,6345.738036,4390.905104,2626.771629,6202.549938,3807.098562,0.000000,2776.771814,17.338502,18399.564592,41595.325723,2799.234658,912.958599,438.009790,541.702363,838.299989,111.857588,0.000000,409.453143

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000 entries, 0 to 19999
Data columns (total 27 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Income                           20000 non-null  float64
 1   Age                              20000 non-null  int64
 2   Dependents                       20000 non-null  int64
 3   Occupation                       20000 non-null  object
 4   City_Tier                        20000 non-null  object
 5   Rent                             20000 non-null  float64
 6   Loan_Repayment                   20000 non-null  float64
 7   Insurance                        20000 non-null  float64
 8   Groceries                        20000 non-null  float64
 9   Transport                        20000 non-null  float64
 10  Eating_Out                       20000 non-null  float64
 11  Entertainment                    20000 non-null  float64
 12  Utilities                        20000 non-null  float64
 13  Healthcare                       20000 non-null  float64
 14  Education                        20000 non-null  float64
 15  Miscellaneous                    20000 non-null  float64
 16  Desired_Savings_Percentage       20000 non-null  float64
 17  Desired_Savings                  20000 non-null  float64
 18  Disposable_Income                20000 non-null  float64
 19  Potential_Savings_Groceries      20000 non-null  float64
 20  Potential_Savings_Transport      20000 non-null  float64
 21  Potential_Savings_Eating_Out     20000 non-null  float64
 22  Potential_Savings_Entertainment  20000 non-null  float64
 23  Potential_Savings_Utilities      20000 non-null  float64
 24  Potential_Savings_Healthcare     20000 non-null  float64
 25  Potential_Savings_Education      20000 non-null  float64
 26  Potential_Savings_Miscellaneous  20000 non-null  float64
dtypes: float64(23), int64(2), object(2)
memory usage: 4.1+ MB

In [7]:
df.describe()

,Income,Age,Dependents,Rent,Loan_Repayment,Insurance,Groceries,Transport,Eating_Out,Entertainment,Utilities,Healthcare,Education,Miscellaneous,Desired_Savings_Percentage,Desired_Savings,Disposable_Income,Potential_Savings_Groceries,Potential_Savings_Transport,Potential_Savings_Eating_Out,Potential_Savings_Entertainment,Potential_Savings_Utilities,Potential_Savings_Healthcare,Potential_Savings_Education,Potential_Savings_Miscellaneous
count,2.000000e+04,20000.000000,20000.000000,20000.000000,20000.000000,20000.000000,20000.000000,20000.000000,20000.000000,20000.000000,20000.000000,20000.000000,20000.000000,20000.000000,20000.000000,20000.000000,20000.000000,20000.000000,20000.000000,20000.000000,20000.000000,20000.000000,20000.000000,20000.000000,20000.000000
mean,4.158550e+04,41.031450,1.995950,9115.494629,2049.800292,1455.028761,5205.667493,2704.466685,1461.856982,1448.853658,2504.976953,1663.081794,2498.348422,830.553181,9.804183,4982.878416,10647.367257,912.197183,473.042650,254.963280,254.031058,436.332808,41.524964,62.417083,144.904987
std,4.001454e+04,13.578725,1.417616,9254.228188,4281.789941,1492.938435,5035.953689,2666.345648,1481.660811,1489.019270,2522.981880,1628.163024,3098.438166,845.019922,3.903858,7733.468188,11740.637289,1038.884968,537.222853,296.047943,299.973590,503.200658,53.152458,98.842656,169.160951
min,1.301187e+03,18.000000,0.000000,235.365692,0.000000,30.002012,154.078240,81.228584,39.437523,45.421469,75.429414,53.500761,0.000000,20.503223,5.000042,0.000000,-5400.788673,16.575501,8.268076,3.797926,3.121610,6.200297,0.001238,0.000000,2.091973
25%,1.760488e+04,29.000000,1.000000,3649.422246,0.000000,580.204749,2165.426419,1124.578012,581.011801,581.632906,1017.670366,684.364440,611.682170,323.626896,6.940423,1224.932636,3774.894323,317.811000,161.913751,84.506870,84.562090,148.013618,11.037421,4.926210,47.637307
50%,3.018538e+04,41.000000,2.000000,6402.751824,0.000000,1017.124681,3741.091535,1933.845509,1029.109726,1020.198376,1766.474869,1189.203827,1701.901075,579.078393,8.898622,2155.356763,7224.890977,607.038735,307.045856,164.927660,164.740232,285.739582,25.202124,33.127987,93.090257
75%,5.176545e+04,53.000000,3.000000,11263.940492,2627.142320,1787.160895,6470.892718,3360.597508,1807.075251,1790.104082,3103.723308,2057.082277,3311.705122,1025.195018,11.877171,6216.309609,13331.950716,1128.681837,588.419602,313.398240,310.927935,538.983703,52.353736,80.946145,178.257981
max,1.079728e+06,64.000000,4.000000,215945.674703,123080.682009,38734.932935,119816.898124,81861.503457,34406.100166,38667.368308,53725.442255,36001.527365,81665.091857,15856.359401,24.998776,245504.485208,377060.218482,34894.644404,12273.258242,5573.036433,6222.200913,8081.799518,1394.531049,3647.244243,4637.951137

In [8]:
df['Occupation'].value_counts()

Occupation
Retired          5019
Professional     5011
Student          5003
Self_Employed    4967
Name: count, dtype: int64

In [9]:
df['City_Tier'].value_counts()

City_Tier
Tier_2    10068
Tier_1     5934
Tier_3     3998
Name: count, dtype: int64

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000 entries, 0 to 19999
Data columns (total 27 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Income                           20000 non-null  float64
 1   Age                              20000 non-null  int64
 2   Dependents                       20000 non-null  int64
 3   Occupation                       20000 non-null  object
 4   City_Tier                        20000 non-null  object
 5   Rent                             20000 non-null  float64
 6   Loan_Repayment                   20000 non-null  float64
 7   Insurance                        20000 non-null  float64
 8   Groceries                        20000 non-null  float64
 9   Transport                        20000 non-null  float64
 10  Eating_Out                       20000 non-null  float64
 11  Entertainment                    20000 non-null  float64
 12  Utilities                        20000 non-null  float64
 13  Healthcare                       20000 non-null  float64
 14  Education                        20000 non-null  float64
 15  Miscellaneous                    20000 non-null  float64
 16  Desired_Savings_Percentage       20000 non-null  float64
 17  Desired_Savings                  20000 non-null  float64
 18  Disposable_Income                20000 non-null  float64
 19  Potential_Savings_Groceries      20000 non-null  float64
 20  Potential_Savings_Transport      20000 non-null  float64
 21  Potential_Savings_Eating_Out     20000 non-null  float64
 22  Potential_Savings_Entertainment  20000 non-null  float64
 23  Potential_Savings_Utilities      20000 non-null  float64
 24  Potential_Savings_Healthcare     20000 non-null  float64
 25  Potential_Savings_Education      20000 non-null  float64
 26  Potential_Savings_Miscellaneous  20000 non-null  float64
dtypes: float64(23), int64(2), object(2)
memory usage: 4.1+ MB

In [11]:
from sklearn.preprocessing import OneHotEncoder

ohe = OneHotEncoder(sparse_output=False)
City_Tiers = pd.DataFrame(ohe.fit_transform(df[['City_Tier']]),columns =ohe.get_feature_names_out(['City_Tier']))
Occupations = pd.DataFrame(ohe.fit_transform(df[['Occupation']]),columns =ohe.get_feature_names_out(['Occupation']))
df = pd.concat([df,Occupations,City_Tiers],axis = 1)

df.drop(['Occupation','City_Tier'],axis = 1 , inplace = True)

In [12]:
df.head()

,Income,Age,Dependents,Rent,Loan_Repayment,Insurance,Groceries,Transport,Eating_Out,Entertainment,Utilities,Healthcare,Education,Miscellaneous,Desired_Savings_Percentage,Desired_Savings,Disposable_Income,Potential_Savings_Groceries,Potential_Savings_Transport,Potential_Savings_Eating_Out,Potential_Savings_Entertainment,Potential_Savings_Utilities,Potential_Savings_Healthcare,Potential_Savings_Education,Potential_Savings_Miscellaneous,Occupation_Professional,Occupation_Retired,Occupation_Self_Employed,Occupation_Student,City_Tier_Tier_1,City_Tier_Tier_2,City_Tier_Tier_3
0,44637.249636,49,0,13391.174891,0.000000,2206.490129,6658.768341,2636.970696,1651.801726,1536.184255,2911.792231,1546.914539,0.000000,831.525120,13.890948,6200.537192,11265.627707,1685.696222,328.895281,465.769172,195.151320,678.292859,67.682471,0.000000,85.735517,0.0,0.0,1.0,0.0,1.0,0.0,0.0
1,26858.596592,34,2,5371.719318,0.000000,869.522617,2818.444460,1543.018778,649.378103,1050.241738,1626.143346,1137.351325,1551.723167,564.235007,7.160376,1923.176434,9676.818733,540.306561,119.347139,141.866089,234.131168,286.668408,6.603212,56.306874,97.388606,0.0,1.0,0.0,0.0,0.0,1.0,0.0
2,50367.605084,35,1,7555.140763,4612.103386,2201.800050,6313.222081,3221.396403,1513.814376,1723.306926,3368.457108,2178.515847,3160.026299,628.371220,13.997808,7050.360422,13891.450624,1466.073984,473.549752,410.857129,459.965256,488.383423,7.290892,106.653597,138.542422,0.0,0.0,0.0,1.0,0.0,0.0,1.0
3,101455.600247,21,0,15218.340037,6809.441427,4889.418087,14690.149363,7106.130005,5040.249158,2858.194240,6128.550387,4571.118217,0.000000,2526.055712,16.455440,16694.965136,31617.953615,1875.932770,762.020789,1241.017448,320.190594,1389.815033,193.502754,0.000000,296.041183,0.0,0.0,1.0,0.0,0.0,0.0,1.0
4,24875.283548,52,4,4975.056710,3112.609398,635.907170,3034.329665,1276.155163,692.827225,660.186852,1092.689024,1169.095816,1445.215694,515.510300,7.533982,1874.099434,6265.700532,788.953124,68.160766,61.712505,187.173750,194.117130,47.294591,67.388120,96.557076,1.0,0.0,0.0,0.0,0.0,1.0,0.0

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000 entries, 0 to 19999
Data columns (total 32 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Income                           20000 non-null  float64
 1   Age                              20000 non-null  int64
 2   Dependents                       20000 non-null  int64
 3   Rent                             20000 non-null  float64
 4   Loan_Repayment                   20000 non-null  float64
 5   Insurance                        20000 non-null  float64
 6   Groceries                        20000 non-null  float64
 7   Transport                        20000 non-null  float64
 8   Eating_Out                       20000 non-null  float64
 9   Entertainment                    20000 non-null  float64
 10  Utilities                        20000 non-null  float64
 11  Healthcare                       20000 non-null  float64
 12  Education                        20000 non-null  float64
 13  Miscellaneous                    20000 non-null  float64
 14  Desired_Savings_Percentage       20000 non-null  float64
 15  Desired_Savings                  20000 non-null  float64
 16  Disposable_Income                20000 non-null  float64
 17  Potential_Savings_Groceries      20000 non-null  float64
 18  Potential_Savings_Transport      20000 non-null  float64
 19  Potential_Savings_Eating_Out     20000 non-null  float64
 20  Potential_Savings_Entertainment  20000 non-null  float64
 21  Potential_Savings_Utilities      20000 non-null  float64
 22  Potential_Savings_Healthcare     20000 non-null  float64
 23  Potential_Savings_Education      20000 non-null  float64
 24  Potential_Savings_Miscellaneous  20000 non-null  float64
 25  Occupation_Professional          20000 non-null  float64
 26  Occupation_Retired               20000 non-null  float64
 27  Occupation_Self_Employed         20000 non-null  float64
 28  Occupation_Student               20000 non-null  float64
 29  City_Tier_Tier_1                 20000 non-null  float64
 30  City_Tier_Tier_2                 20000 non-null  float64
 31  City_Tier_Tier_3                 20000 non-null  float64
dtypes: float64(30), int64(2)
memory usage: 4.9 MB

In [14]:
df['DTI'] = df['Loan_Repayment'] / df['Income']

df['Total_Expenses'] = (
    df['Rent'] + df['Groceries'] + df['Transport'] +
    df['Eating_Out'] + df['Entertainment'] +
    df['Utilities'] + df['Healthcare'] +
    df['Education'] + df['Miscellaneous'] +
    df['Insurance']
)

df['Expense_Ratio'] = df['Total_Expenses'] / df['Income']
df['Savings_Ratio'] = df['Desired_Savings'] / df['Income']
df['Disposable_Ratio'] = df['Disposable_Income'] / df['Income']

In [15]:
df['Raw_Financial_Score'] = (
    (1 - df['DTI']) * 30 +
    df['Savings_Ratio'] * 25 +
    (1 - df['Expense_Ratio']) * 25 +
    df['Disposable_Ratio'] * 20
)

In [16]:
from sklearn.preprocessing import MinMaxScaler

scaler_score = MinMaxScaler(feature_range=(0,100))

df['Credit_Score'] = scaler_score.fit_transform(
    df[['Raw_Financial_Score']]
)

In [17]:
df.head()

,Income,Age,Dependents,Rent,Loan_Repayment,Insurance,Groceries,Transport,Eating_Out,Entertainment,Utilities,Healthcare,Education,Miscellaneous,Desired_Savings_Percentage,Desired_Savings,Disposable_Income,Potential_Savings_Groceries,Potential_Savings_Transport,Potential_Savings_Eating_Out,Potential_Savings_Entertainment,Potential_Savings_Utilities,Potential_Savings_Healthcare,Potential_Savings_Education,Potential_Savings_Miscellaneous,Occupation_Professional,Occupation_Retired,Occupation_Self_Employed,Occupation_Student,City_Tier_Tier_1,City_Tier_Tier_2,City_Tier_Tier_3,DTI,Total_Expenses,Expense_Ratio,Savings_Ratio,Disposable_Ratio,Raw_Financial_Score,Credit_Score
0,44637.249636,49,0,13391.174891,0.000000,2206.490129,6658.768341,2636.970696,1651.801726,1536.184255,2911.792231,1546.914539,0.000000,831.525120,13.890948,6200.537192,11265.627707,1685.696222,328.895281,465.769172,195.151320,678.292859,67.682471,0.000000,85.735517,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.000000,33371.621929,0.747618,0.138909,0.252382,44.829916,58.174747
1,26858.596592,34,2,5371.719318,0.000000,869.522617,2818.444460,1543.018778,649.378103,1050.241738,1626.143346,1137.351325,1551.723167,564.235007,7.160376,1923.176434,9676.818733,540.306561,119.347139,141.866089,234.131168,286.668408,6.603212,56.306874,97.388606,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.000000,17181.777859,0.639712,0.071604,0.360288,48.003035,68.084784
2,50367.605084,35,1,7555.140763,4612.103386,2201.800050,6313.222081,3221.396403,1513.814376,1723.306926,3368.457108,2178.515847,3160.026299,628.371220,13.997808,7050.360422,13891.450624,1466.073984,473.549752,410.857129,459.965256,488.383423,7.290892,106.653597,138.542422,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.091569,31864.051073,0.632630,0.139978,0.275801,45.452666,60.119670
3,101455.600247,21,0,15218.340037,6809.441427,4889.418087,14690.149363,7106.130005,5040.249158,2858.194240,6128.550387,4571.118217,0.000000,2526.055712,16.455440,16694.965136,31617.953615,1875.932770,762.020789,1241.017448,320.190594,1389.815033,193.502754,0.000000,296.041183,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.067117,63028.205206,0.621239,0.164554,0.311643,47.802219,67.457612
4,24875.283548,52,4,4975.056710,3112.609398,635.907170,3034.329665,1276.155163,692.827225,660.186852,1092.689024,1169.095816,1445.215694,515.510300,7.533982,1874.099434,6265.700532,788.953124,68.160766,61.712505,187.173750,194.117130,47.294591,67.388120,96.557076,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.125129,15496.973617,0.622987,0.075340,0.251885,42.592659,51.187519

## Model

In [18]:
X = df.drop(['Raw_Financial_Score','Credit_Score'],axis = 1)
y = df['Credit_Score']

In [19]:
x = np.array(X)
y = np.array(y)

In [20]:
from sklearn.preprocessing import StandardScaler

ss = StandardScaler()

x = ss.fit_transform(x)

In [21]:
x

array([[ 0.07626802,  0.58685547, -1.40799795, ...,  0.75284297,
         1.1614696 , -0.02819204],
       [-0.3680479 , -0.51784138,  0.00285698, ..., -0.79025711,
        -0.58554481,  1.08209551],
       [ 0.21947843, -0.44419492, -0.70257048, ..., -0.89154078,
         1.18920646,  0.2127812 ],
       ...,
       [-0.02451492, -0.8124272 , -0.70257048, ...,  0.71422008,
        -0.99436614, -2.05035308],
       [ 1.91366025, -1.03336657,  0.00285698, ...,  1.58446234,
        -0.11474877, -1.70166274],
       [-0.8341238 ,  1.54425941,  0.70828445, ...,  0.91072419,
        -0.76504016, -1.54669524]], shape=(20000, 37))

In [22]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor

X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=42
)

model = RandomForestRegressor(n_estimators=200, random_state=42)
model.fit(X_train, y_train)

print("Train Score:", model.score(X_train, y_train))
print("Test Score:", model.score(X_test, y_test))

Train Score: 0.9999457644843354
Test Score: 0.9996437417237466

In [23]:
def predict_credit_score(model):

    income = float(input("Enter Income: "))
    age = int(input("Enter Age: "))
    dependents = int(input("Enter Number of Dependents: "))
    
    rent = float(input("Rent: "))
    loan = float(input("Loan Repayment: "))
    insurance = float(input("Insurance: "))
    groceries = float(input("Groceries: "))
    transport = float(input("Transport: "))
    eating_out = float(input("Eating Out: "))
    entertainment = float(input("Entertainment: "))
    utilities = float(input("Utilities: "))
    healthcare = float(input("Healthcare: "))
    education = float(input("Education: "))
    misc = float(input("Miscellaneous: "))
    desired_savings = float(input("Desired Savings: "))

    occupation = input("Occupation (Professional/Retired/Self_Employed/Student): ")
    city = input("City Tier (Tier_1/Tier_2/Tier_3): ")

    total_expenses = (rent + groceries + transport + eating_out +
                      entertainment + utilities + healthcare +
                      education + misc + insurance)

    dti = loan / income
    expense_ratio = total_expenses / income
    savings_ratio = desired_savings / income
    disposable_income = income - total_expenses
    disposable_ratio = disposable_income / income

    occ_prof = 1 if occupation == "Professional" else 0
    occ_ret = 1 if occupation == "Retired" else 0
    occ_self = 1 if occupation == "Self_Employed" else 0
    occ_student = 1 if occupation == "Student" else 0

    city1 = 1 if city == "Tier_1" else 0
    city2 = 1 if city == "Tier_2" else 0
    city3 = 1 if city == "Tier_3" else 0
    
    input_data = pd.DataFrame([{
        'Income': income,
        'Age': age,
        'Dependents': dependents,
        'Rent': rent,
        'Loan_Repayment': loan,
        'Insurance': insurance,
        'Groceries': groceries,
        'Transport': transport,
        'Eating_Out': eating_out,
        'Entertainment': entertainment,
        'Utilities': utilities,
        'Healthcare': healthcare,
        'Education': education,
        'Miscellaneous': misc,
        'Desired_Savings_Percentage': (desired_savings/income)*100,
        'Desired_Savings': desired_savings,
        'Disposable_Income': disposable_income,
        'Potential_Savings_Groceries': 0,
        'Potential_Savings_Transport': 0,
        'Potential_Savings_Eating_Out': 0,
        'Potential_Savings_Entertainment': 0,
        'Potential_Savings_Utilities': 0,
        'Potential_Savings_Healthcare': 0,
        'Potential_Savings_Education': 0,
        'Potential_Savings_Miscellaneous': 0,
        'Occupation_Professional': occ_prof,
        'Occupation_Retired': occ_ret,
        'Occupation_Self_Employed': occ_self,
        'Occupation_Student': occ_student,
        'City_Tier_Tier_1': city1,
        'City_Tier_Tier_2': city2,
        'City_Tier_Tier_3': city3,
        'DTI': dti,
        'Total_Expenses': total_expenses,
        'Expense_Ratio': expense_ratio,
        'Savings_Ratio': savings_ratio,
        'Disposable_Ratio': disposable_ratio
    }])

    score = model.predict(input_data)[0]

    print("\nPredicted Credit Score:", round(score, 2))

In [24]:
predict_credit_score(model)

Enter Income:  20000
Enter Age:  20
Enter Number of Dependents:  4
Rent:  10000
Loan Repayment:  5000
Insurance:  2000
Groceries:  0
Transport:  0
Eating Out:  1500
Entertainment:  1000
Utilities:  0
Healthcare:  0
Education:  0
Miscellaneous:  0
Desired Savings:  0
Occupation (Professional/Retired/Self_Employed/Student):  1
City Tier (Tier_1/Tier_2/Tier_3):  Tier_1

Predicted Credit Score: 53.39

In [27]:
import joblib
joblib.dump(model, "credit_model.pkl")
joblib.dump(X.columns.tolist(), "model_columns.pkl")

['model_columns.pkl']

In [28]:
import requests

url = "https://gurujod-credit-score-api.hf.space/predict"

data = {
  "Income": 20000,
  "Age": 30,
  "Dependents": 4,
  "Rent": 10000,
  "Loan_Repayment": 5000,
  "Insurance": 2000,
  "Groceries": 0,
  "Transport": 2000,
  "Eating_Out": 0,
  "Entertainment": 0,
  "Utilities": 1500,
  "Healthcare": 1000,
  "Education": 0,
  "Miscellaneous": 0,
  "Desired_Savings": 0 ,
  "Occupation_Professional": 1,
  "Occupation_Retired": 0,
  "Occupation_Self_Employed": 0,
  "Occupation_Student": 0,
  "City_Tier_Tier_1": 1,
  "City_Tier_Tier_2": 0,
  "City_Tier_Tier_3": 0
}

response = requests.post(url, json=data)
print(response.json())

{'credit_score': 38.73, 'risk_level': 'High Risk', 'financial_health': 'Poor Financial Health', 'metrics': {'dti': 0.25, 'expense_ratio': 0.82, 'savings_ratio': 0.0, 'disposable_ratio': 0.17}, 'recommendations': ['Try increasing your savings percentage for better financial stability.', 'Your expenses are consuming a large portion of your income. Review discretionary spending.', 'Low disposable income detected. Improve income to expense balance.']}